@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2264 0 0);
  --card: oklch(0.9761 0 0);
  --card-foreground: oklch(0.2264 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2264 0 0);
  --primary: oklch(0.7151 0.1785 27.9687);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9751 0.0127 244.2507);
  --secondary-foreground: oklch(0.2264 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5925 0.0309 248.3483);
  --accent: oklch(0.9139 0.0757 77.6439);
  --accent-foreground: oklch(0.6521 0.1322 81.5716);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9751 0.0127 244.2507);
  --ring: oklch(0.7151 0.1785 27.9687);
  --chart-1: oklch(0.7151 0.1785 27.9687);
  --chart-2: oklch(0.7767 0.1098 168.8244);
  --chart-3: oklch(0.8868 0.1822 95.3305);
  --chart-4: oklch(0.5880 0.0993 245.7394);
  --chart-5: oklch(0.6256 0.2024 319.2263);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2264 0 0);
  --sidebar-primary: oklch(0.7151 0.1785 27.9687);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9139 0.0757 77.6439);
  --sidebar-accent-foreground: oklch(0.6521 0.1322 81.5716);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.7151 0.1785 27.9687);
  --font-sans: Figtree, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Literata, ui-serif, serif;
  --font-mono: Victor Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.20);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2781 0.0296 256.8480);
  --foreground: oklch(0.9276 0.0058 264.5313);
  --card: oklch(0.3301 0.0359 258.3267);
  --card-foreground: oklch(0.9276 0.0058 264.5313);
  --popover: oklch(0.2781 0.0296 256.8480);
  --popover-foreground: oklch(0.9276 0.0058 264.5313);
  --primary: oklch(0.7151 0.1785 27.9687);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4073 0.0387 261.4994);
  --secondary-foreground: oklch(0.9276 0.0058 264.5313);
  --muted: oklch(0.3660 0.0333 252.0882);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.5039 0.0633 74.2735);
  --accent-foreground: oklch(0.9139 0.0757 77.6439);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4461 0.0263 256.8018);
  --input: oklch(0.3954 0.0395 259.8805);
  --ring: oklch(0.7151 0.1785 27.9687);
  --chart-1: oklch(0.7151 0.1785 27.9687);
  --chart-2: oklch(0.7767 0.1098 168.8244);
  --chart-3: oklch(0.8868 0.1822 95.3305);
  --chart-4: oklch(0.5880 0.0993 245.7394);
  --chart-5: oklch(0.6256 0.2024 319.2263);
  --sidebar: oklch(0.2781 0.0296 256.8480);
  --sidebar-foreground: oklch(0.9276 0.0058 264.5313);
  --sidebar-primary: oklch(0.7151 0.1785 27.9687);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5039 0.0633 74.2735);
  --sidebar-accent-foreground: oklch(0.9139 0.0757 77.6439);
  --sidebar-border: oklch(0.4461 0.0263 256.8018);
  --sidebar-ring: oklch(0.7151 0.1785 27.9687);
  --font-sans: Figtree, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Literata, ui-serif, serif;
  --font-mono: Victor Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
  background-color: var(--background);
  font-family: var(--font-sans);
}